In [56]:
from fastapi import FastAPI
from sqlmodel import Session, select, SQLModel
from sqlalchemy.exc import OperationalError
from models import Epic, TimeLog, User, engine, create_db
import datetime

In [57]:
app = FastAPI()
session = Session(engine)

In [58]:
def string_to_datetime(date_string):
    date = datetime.datetime.strptime(date_string, "%Y-%m-%dT%H:%M:%S.%fZ")
    return date

In [59]:
def datetime_to_string(date_date):
    date_string = date_date.strftime("%Y-%m-%dT%H:%M:%S.%fZ")
    return date_string

In [109]:
"%m/%d/%Y, %H:%M:%S"

'%m/%d/%Y, %H:%M:%S'

In [113]:
def get_user_worktime_by_epic(user_id, epic_name, start_time, end_time):
    
    statement = select(TimeLog)\
        .where(TimeLog.user_id == user_id)\
        .where(TimeLog.epic_name == epic_name)\
        .where(TimeLog.start_time < end_time, TimeLog.end_time > start_time)
    results = session.exec(statement).all()
    work_list = []
    for result in results:
        if result.start_time > start_time and result.end_time < end_time:
            working_time = time_period(result.start_time, result.end_time)
        elif result.start_time > start_time and result.end_time >= end_time:
            working_time = time_period(result.start_time, end_time)
        elif result.start_time <= start_time and result.end_time < end_time:
            working_time = time_period(start_time, result.end_time)
        else:
            working_time = time_period(start_time, end_time)
        work_list.append(working_time)
    l_sum = sum(work_list, datetime.timedelta())
    work_time_sum = str(l_sum)
    msg = f"""total work time spent by user {user_id} from {start_time} to {end_time} on epic {epic_name} is {work_time_sum}
            """    
    return msg

In [114]:
get_user_worktime_by_epic("AW", "WestAfghan", "2021-10-17T23:00:00.000Z", "2021-10-18T22:00:00.000Z")

2021-10-22 13:55:13,524 INFO sqlalchemy.engine.Engine SELECT timelog.id, timelog.user_id, timelog.epic_name, timelog.start_time, timelog.end_time
FROM timelog
WHERE timelog.user_id = ? AND timelog.epic_name = ? AND timelog.start_time < ? AND timelog.end_time > ?
2021-10-22 13:55:13,528 INFO sqlalchemy.engine.Engine [no key 0.00512s] ('AW', 'WestAfghan', '2021-10-18T22:00:00.000Z', '2021-10-17T23:00:00.000Z')

'total work time spent by user AW from 2021-10-17T23:00:00.000Z to 2021-10-18T22:00:00.000Z on epic WestAfghan is 23:00:00\n            '

In [88]:
a = ("2021-10-17 22:00:00")

In [83]:
b = ("2021-10-18T22:00:00.000Z")

In [84]:
a < b

True

In [85]:
a > b

False

In [86]:
w = b - a

TypeError: unsupported operand type(s) for -: 'str' and 'str'